models/*
!models/models_go_here.md

*.wav
fine-tuning/checkpoint
fine-tuning/data/*
fine-tuning/drivers
fine-tuning/models
fine-tuning/scrape-*
fine-tuning/settings.json
*.pkl
venv
__pycache__
.idea
saved_stories/*

story/grammars/*
!story/grammars/__init__.py
!story/grammars/scifi_rules.json
!story/grammars/fantasy_rules.json
!story/grammars/apocalyptic_rules.json

custom_play.sh