models/*
!models/models_go_here.md

samples/*
!samples/.gitkeep

*.wav
fine-tuning/checkpoint
fine-tuning/data/*
fine-tuning/drivers
fine-tuning/models
fine-tuning/scrape-*
fine-tuning/settings.json
*.pkl
venv
__pycache__
.idea
saved_stories/*

story/grammars/_*.json

custom_play.sh